.footer {
}
.footer_main {
}
.footer_main_item {
    background-color: aliceblue;
}
.footer_main {
    display: flex;
}
.footer_main_item {
    display: flex;
    flex-direction: column;
}

.item_name {
}
.item_detail {
}
.item_icon {
    display: flex;
}
