@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url(./layout/header.css);
@import url(./layout/section_personal_detail.css);
@import url(./layout/section_myProject.css);
@import url(./layout/section_getInTouch.css);
@import url(./layout/footer.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Noto Sans', sans-serif;
}
li{
    list-style-type: none;
}
li:hover{
    color:grey;
}
button:hover{
    color: grey;
}